.square {
    text-align: center;
    background: white;
    border: 1px solid #868585;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    width: 64px;
}

.dark-mode .square {
    background: rgb(211, 191, 191);
}

.board {
    text-align: center;
    margin: 0 auto;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: large;
}

.game {
    box-align: center;
    color: #68612d;
    font-weight: bold;
}

.game-info {
    margin-left: 50px;
    margin-top: 50px;
}

.game-top{
    margin: 10px 0 10px 0;
}

/* Add color to play against computer button */
.game-top button {
  border-radius: 6px;
  background-color: #46432f;
  box-sizing: border-box;
  color:#c3b759;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
  text-transform: uppercase;
  }

/* Add confetti animation for celebration */
@keyframes confetti {
    0% {
      transform: translateY(0) rotate(0);
    }
    100% {
      transform: translateY(-500px) rotate(360deg);
    }
  }
  
  .confetti {
    width: 10px;
    height: 10px;
    position: absolute;
    opacity: 0.9;
    animation: confetti 2s ease-out;
    animation-iteration-count: 1;
}

.confetti-red {
    background-color: #e44d26;
  }
  
  .confetti-green {
    background-color: #43a047;
  }
  
  .confetti-blue {
    background-color: #2196f3;
  }
  
  .confetti-yellow {
    background-color: #ffeb3b;
  }
  
  .confetti-purple {
    background-color: #9c27b0;
  }
  